

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "dcFandom";
    src: url(./fonts/DcFandom-orr4.ttf);
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'dcFandom', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(4,4,6);
    background-image: url(./img/backg2.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100vmax;
}

.gameboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(250, 250, 250);
}

.time {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    align-items: center;
}

.h6 {
    font-size: .8rem;
}

.h4 {
    font-size: 1.3rem;
}

.cardHolder {
    -moz-transform: perspective(1000px);
    -webkit-perspective: 1000px;
    perspective: 1000px;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}
 
.card {
    display: flex;
    width: 50px;
    height: 73px;
    transition: all 0.8s ease-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: .3rem;
}

.card:hover {
    cursor: pointer;
}

.card--flip:hover {
    cursor: not-allowed;
}

.card--flip {
    pointer-events: none;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
 
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 50px;
    height: 73px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-box-front {
    background-image: url(./img/card_back.png);
    background-position: center;
    background-size: cover;
    color: black;
}
  
.flip-box-back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-position: center;
    background-size: cover;
}

.batman {
    background-image: url(./img/batman.png); 
}
.superman {
    background-image: url(./img/superman.png); 
}
.wonderwoman {
    background-image: url(./img/wonderwoman.png); 
}
.greenlantern {
    background-image: url(./img/greenlantern.png); 
}
.flash {
    background-image: url(./img/flash.png); 
}

