* {
    box-sizing: border-box;
}

@font-face {
    font-family: "dcFandom";
    src: url(./fonts/DcFandom-orr4.ttf);
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'dcFandom', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(4,4,6);
    background-image: url(./img/backg2.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100vmax;
}

.gameboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(250, 250, 250);
}

.time {
    display: flex;
    width: 600px;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem;
}

.time__display {
    font-size: 2rem;
}

.cardHolder {
    -moz-transform: perspective(1000px);
    -webkit-perspective: 1000px;
    perspective: 1000px;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 325px;
    justify-content: space-evenly;
}
 
.card {
    display: flex;
    width: 100px;
    height: 145px;
    transition: all 0.8s ease-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: .3rem;
}

.card:hover {
    cursor: pointer;
}

.card--flip:hover {
    cursor: not-allowed;
}

.card--flip {
    pointer-events: none;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.noclick {
    pointer-events: none;
}
 
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100px;
    height: 145px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-box-front {
    background-image: url(./img/card_back.png);
    background-position: center;
    background-size: cover;
    color: black;
}
  
.flip-box-back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-position: center;
    background-size: cover;
}

.batman {
    background-image: url(./img/batman.png); 
}
.superman {
    background-image: url(./img/superman.png); 
}
.wonderwoman {
    background-image: url(./img/wonderwoman.png); 
}
.greenlantern {
    background-image: url(./img/greenlantern.png); 
}
.flash {
    background-image: url(./img/flash.png); 
}




.modal {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);  
}

.modal__article {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.modal__head {
    display: flex;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: 1rem;
}

.modal__close {
    display: flex;
    color: rgb(170, 170, 170);
    background-color: transparent;
    border: transparent;
    font-size: 1rem;
}

.modal__close:hover, .close:focus {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer; 
}

.modal__content {
    display: inline-block;
    text-align: left;
    background-color: rgb(245, 245, 245);
    padding: 1rem;
    border: 1px solid rgb(150, 150, 150);
    max-height: 100%;
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation: open .5s;
}
@media only screen and (min-width: 560px) {
    .modal__content {
        width: 50%;
    }
}

@keyframes open {
    0% {opacity:0;} 
    100% {opacity:1;}
}

.modal--up {
    display: flex;
}

.modal--hide {
    display: none;
    transition: .3s;
  }
  
@keyframes close {
    0% {opacity: 1;}
    100% {opacity: 0;}
}