

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "dcFandom";
    src: url(./fonts/DcFandom-orr4.ttf);
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'dcFandom', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(4,4,6);
    background-image: url(./img/backg2.jpg);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-position: top;
    background-size: 100vmax;
}

.gameboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: rgb(250, 250, 250);
}

.time {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cardHolder {
    -moz-transform: perspective(1000px);
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.cardHolder__row {
    background-color: transparent;
    perspective: 1000px;
    display: flex;
    justify-content: center;
}
  
.card {
    display: flex;
    width: 50px;
    height: 73px;
    transition: all 0.8s ease-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: .3rem;
}

/* .cardHolder:hover .card {
    transform: rotateY(180deg);
} */
.card--flip {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card--backFlip {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

  
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 50px;
    height: 73px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-box-front {
    background-color:transparent;
    color: black;
}
  
.flip-box-back {
    background-color: transparent;
    color: white;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}